{% extends 'base.html' %}

{% block title %}
    TEST
{% endblock %}

{% block content_title %}
    TEST TEST
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('create_ticket.index' )}}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="group">Group:</label>
        <input type="text" id="header" name="group"><br><br>

        <label for="customer">Customer:</label>
        <input type="text" id="customer" name="customer"><br><br>

        <label for="article_subject">Article subject:</label>
        <input type="text" id="article_subject" name="article_subject"><br><br>

        <label for="article_body">Article body:</label>
        <input type="text" id="article_body" name="article_body"><br><br>

        <label for="article_type">Article type:</label>
        <input type="text" id="article_type" name="article_type"><br><br>

        <label for="article_internal">Article internal(true/false):</label>
        <input type="text" id="article_internal" name="article_internal"><br><br>

        <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
</div>

{% endblock %}
