{% extends 'base.html' %}

{% block title %}
    Добавить вложение
{% endblock %}

{% block content_title %}
    Добавить вложение
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('add_attachment.index' )}}" enctype="multipart/form-data">
        <label for="drop_down">Выберите инцидент:</label>
        <select id="drop_down" name="drop_down">
            {% for option in drop_down_list %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>
        <label for="file">Выберите файл:</label>
        <input type="file" name="files[]" id="files" multiple>
        <br><br>
        <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
</div>
    

{% endblock %}
