{% extends 'base.html' %}

{% block title %}
    get_token_attachment_DOC
{% endblock %}

{% block content_title %}
    get_token_attachment_DOC
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('get_token_attachment_DOC.index' )}}">
        <label for="drop_down">Выберите ключ:</label>
        <select id="drop_down" name="drop_down">
            {% for option in drop_down_list %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>

        <label for="action">Action (getAttachToken):</label>
        <input type="text" id="action" name="action"><br><br>

        <label for="filename">Filename (Обращение):</label>
        <input type="text" id="filename" name="filename"><br><br>

        <button type="submit" class="btn btn-warning btn-lg">submit</button>

{% endblock %}
