{% extends 'base.html' %}

{% block title %}
    view_all_comment_emulator_DOC
{% endblock %}

{% block content_title %}
    view_all_comment_emulator_DOC
{% endblock %}

{% block content %}
<div class="form">
    <form method="POST" action="{{ url_for('view_all_comment_emulator_DOC.index' )}}">
        <label for="key_id">Выберите ключ:</label>

        <select id="drop_down" name="drop_down">
            {% for option in drop_down_list %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit" class="btn btn-warning btn-lg">submit</button>
{% endblock %}
