{% extends 'base.html' %}

{% block title %}
    Добавить коммент
{% endblock %}

{% block content_title %}
    Добавить коммент
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('add_comment.index' )}}">
        <label for="drop_down">Выберите ключ:</label>
        <select id="drop_down" name="drop_down">
            {% for option in drop_down_list %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>

        <label for="commit">Введите ком-рий:</label>
        <input type="text" id="commit" name="commit"><br><br>

        <label for="author">Автор ком-рия:</label>
        <input type="text" id="author" name="author"><br><br>

        <button type="submit" class="btn btn-warning btn-lg">submit</button>

{% endblock %}
