{% extends 'base.html' %}

{% block title %}
    TEST
{% endblock %}

{% block content_title %}
    TEST TEST
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('create_ticket_emulator.index' )}}">
        <label for="Action">Action(only: "create"):</label>
        <input type="text" id="Action" name="Action"><br><br>

        <label for="Filename">Filename(only: "Инцидент"):</label>
        <input type="text" id="Filename" name="Filename"><br><br>

        <label for="Field_External_System_Application_Code">Key:</label>
        {{ key }}<br><br>

        <label for="The_contact_person">Контактное лицо:</label>
        <input type="text" id="The_contact_person" name="The_contact_person"><br><br>

        <label for="Contact_persons_email">Email контактного лица:</label>
        <input type="text" id="Contact_persons_email" name="Contact_persons_email"><br><br>

        <label for="Contact_person_phone_number">Телефон контактного лица:</label>
        <input type="text" id="Contact_person_phone_number" name="Contact_person_phone_number"><br><br>

        <label for="Initiator">Инициатор:</label>
        <input type="text" id="Initiator" name="Initiator"><br><br>

        <label for="Group">Рабочая группа:</label>
        <input type="text" id="Group" name="Group"><br><br>

        <label for="Short_description">Краткое описание</label>
        <input type="text" id="Short_description" name="Short_description"><br><br>

        <label for="Description">Описание</label>
        <input type="text" id="Description" name="Description"><br><br>

        <label for="Time_new">Приоритет:</label>
        <input type="text" id="A_priority" name="A_priority"><br><br>


        <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
</div>

{% endblock %}
