{% extends 'base.html' %}

{% block title %}
    TEST
{% endblock %}

{% block content_title %}
    TEST TEST
{% endblock %}

{% block content %}

<div class="form">
    <form method="POST" action="{{ url_for('get_ticket.index' )}}">

        <label for="ticket_number">Ticket number:</label>
        <input type="text" id="ticket_number" name="ticket_number"><br><br>

        <button type="submit" class="btn btn-warning btn-lg">submit</button>
    </form>
</div>

{% endblock %}
